/* COMMON */

.mockup {
	margin: 0 auto;
	position: relative;
	}

.screen {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	display: block;
	}

/* BROWSER */

.browser {
	width: 100%;
	border-radius: 2px 2px 0 0;
	border-top: solid 48px #DFDFDF;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	}

.browser:first-child {
	margin-bottom: 20px;
	}

.browser:nth-child(2) {
	margin-bottom: 20px;
	}

.browser:nth-child(3) {
	margin-bottom: 20px;
	}

.browser:last-child {
	margin-bottom: 0px;
	}

.browser::before {
	top: -30px;
	left: 10px;
	content: "";
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	border-radius: 12px;
	background-color: #BBBBBB;
	box-shadow: 0 0 0 0 #BBBBBB, 20px 0 0 0 #BBBBBB, 40px 0 0 0 #BBBBBB;
	}

.browser::after {
	top: -36px;
	right: 10px;
	width: 240px;
	height: 24px;
	color: #959595;
	padding: 0 8px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	line-height: 24px;	
	position: absolute;
	font-style: italic;
	border-radius: 2px;
	content: attr(data-url);
	background-color: #FFFFFF;
	}

/* TABLET */

.tablet {
	position: relative;
    border-radius: 20px;
	border-top: solid 48px #DFDFDF;
	border-left: solid 12px #DFDFDF;
	border-right: solid 12px #DFDFDF;
	border-bottom: solid 48px #DFDFDF;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	}

.tablet::before {
	top: -26px;
	left: 50%;
	width: 4px;
	content: "";
	height: 4px;
	display: block;
	margin-left: -2px;
	position: absolute;
	border-radius: 4px;
	background-color: #BBBBBB;
	}

.tablet::after {
	left: 50%;
	width: 24px;
	content: "";
	height: 24px;
	bottom: -36px;
	display: block;
	position: absolute;
	margin-left: -12px;
	border-radius: 12px;
	background-color: #BBBBBB;
	}

/* MOBILE */

.mobile {
	width: 100%;
    border-radius: 20px;
    border-top: solid 48px #DDDDDD;
    border-bottom: solid 48px #DDDDDD;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	}

.mobile::before {
	left: 50%;
	top: -26px;
	width: 40px;
	height: 6px;
	content: "";
	display: block;
	position: absolute;
	margin-left: -20px;
	border-radius: 4px;
	background-color: #BBBBBB;
	}

.mobile::after {
	left: 50%;
	width: 16px;
	content: "";
	height: 16px;
	bottom: -34px;
	display: block;
	margin-left: -8px;
	position: absolute;
	border-radius: 12px;
	border: 2px solid #BBBBBB;
	}

/* SKELETON */

@media screen and (max-width: 550px) {



}